@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;1,300 & display=swap');


body{
    
    background-color: rgb(221, 241, 241);
    font-family:'Roboto', sans-serif;
    font-size: medium;   
}

.navbar{
    background-color: rgb(101, 172, 81);
    color: #edf5f3;
    width: 1600px;
    text-decoration: none;
    
}
.links_navegacion{
    list-style: none;
    text-decoration: none;
}

li a{
    color: aliceblue;
    text-decoration-line: none;
}